<!DOCTYPE html>
<html>
<head>
	<title>Chat Inbox</title>
	<style>
		.chat {
			border: 1px solid black;
			padding: 10px;
			margin: 10px;
			max-height: 600px;
			overflow-y: scroll;
		}
		.chat .message {
			margin-bottom: 10px;
		}
		.chat .message .username {
			font-weight: bold;
			margin-right: 5px;
		}
		.chat .message .datetime {
			font-size: 12px;
			color: gray;
			margin-left: 5px;
		}
	</style>
</head>
<body>
	<div class="chat">
        {% for i in all %}
		<div class="message">
			<span class="username">{{i.user}}</span>
			<span class="datetime">{{i.dt}}</span>
			<p>{{i.content}}</p>
		</div>
        {% endfor %}
	</div>
    <div>
        <form method="post" >
            {% csrf_token %}
            <label for="content">Message: </label>
            <input type="text" name="content" ><br>
        </form>
    </div>
    <div>
        <a href="{% url 'home' %}">Home</a>
		<a href="{% url 'suggestion_view' %}">Suggestions</a>
		<a href="{% url 'transaction_view' %}">Transaction</a>
		{% if user.is_superuser %}
		<a href="{% url 'account_view' %}">Check Balance</a> 
		{% endif %}
    </div>

</body>
</html>

